.entity-title {
  font-family: TheSansVeolia-W7Bld;
  font-size: 30px;
}

.entity-count {
  font-family: TheSansVeolia-W5Pla;
  font-size: 16px;
  color: rgb(0 0 0 / 38%);
  line-height: 30px;
}

.list-header {
  padding: 1vh;
  width: 95%;
  margin: auto;
}

.spacer {
  width: 1vw;
}

.button-background {
  background-color: #2e5fa0;
}
